// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 *
 */
/*********************************************************************
 *           立创开发板不靠卖板赚钱，以培养中国工程师为己任          
 *         泰山派软硬件资料与相关扩展板软硬件资料官网全部开源		 
 *                      开发板官网：www.lckfb.com                    
 *                     立创论坛：oshwhub.com/forum                   
 *            关注B站：【立创开发板】，掌握我们的最新动态！          
 *********************************************************************
 * 文件名：tspi-rk3566-dsi-v10.dtsi
 * 描述：mipi 屏幕
 * 更新:
 * 时间          作者           联系           说明
 * 2023-07-21   吴才成    1378913492@qq.com   v1.0.0
 *********************************************************************/
/ {
	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm5 0 25000 0>;
		brightness-levels = <
			  0  20  20  21  21  22  22  23
			 23  24  24  25  25  26  26  27
			 27  28  28  29  29  30  30  31
			 31  32  32  33  33  34  34  35
			 35  36  36  37  37  38  38  39
			 40  41  42  43  44  45  46  47
			 48  49  50  51  52  53  54  55
			 56  57  58  59  60  61  62  63
			 64  65  66  67  68  69  70  71
			 72  73  74  75  76  77  78  79
			 80  81  82  83  84  85  86  87
			 88  89  90  91  92  93  94  95
			 96  97  98  99 100 101 102 103
			104 105 106 107 108 109 110 111
			112 113 114 115 116 117 118 119
			120 121 122 123 124 125 126 127
			128 129 130 131 132 133 134 135
			136 137 138 139 140 141 142 143
			144 145 146 147 148 149 150 151
			152 153 154 155 156 157 158 159
			160 161 162 163 164 165 166 167
			168 169 170 171 172 173 174 175
			176 177 178 179 180 181 182 183
			184 185 186 187 188 189 190 191
			192 193 194 195 196 197 198 199
			200 201 202 203 204 205 206 207
			208 209 210 211 212 213 214 215
			216 217 218 219 220 221 222 223
			224 225 226 227 228 229 230 231
			232 233 234 235 236 237 238 239
			240 241 242 243 244 245 246 247
			248 249 250 251 252 253 254 255
		>;
		default-brightness-level = <255>;
	};
};

&pwm5 {
	status = "okay";
};


&pinctrl {
	dsi1 {
		dsi1_rst_gpio: dsi1-rst-gpio {
			rockchip,pins = <3 RK_PC1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

/*
 * video_phy1 needs to be enabled
 * when dsi1 is enabled
 */
&dsi1 {
	status = "okay";
};

&dsi1_in_vp0 {
	status = "disabled";
};

&dsi1_in_vp1 {
	status = "okay";
};

&video_phy1 {
	status = "okay";
};

&route_dsi1 {
	status = "okay";//wucaicheng mipi okay
	connect = <&vp1_out_dsi1>;
};

//默认 8寸800x1280
&dsi1 {
	status = "okay";
	rockchip,lane-rate = <500>;
	dsi1_panel: panel@0 {
		status = "okay";
		compatible = "simple-panel-dsi";
		reset-gpios = <&gpio3 RK_PC1 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&dsi1_rst_gpio>;
		reg = <0>;
		backlight = <&backlight>;
		reset-delay-ms = <30>;
		enable-delay-ms = <100>;
		init-delay-ms = <10>;
		prepare-delay-ms = <20>;
		unprepare-delay-ms = <20>;
		disable-delay-ms = <20>;
		dsi,flags = <(
			MIPI_DSI_MODE_VIDEO |
			MIPI_DSI_MODE_VIDEO_BURST |
			MIPI_DSI_MODE_LPM |
			MIPI_DSI_MODE_EOT_PACKET
		)>;
		dsi,format = <MIPI_DSI_FMT_RGB888>;
		dsi,lanes  = <4>;
		panel-init-sequence = [
			REGISTER,FF,03,98,81,03
REGISTER,01,01,00
REGISTER,02,01,00
REGISTER,03,01,53    
REGISTER,04,01,53    
REGISTER,05,01,13
REGISTER,06,01,04
REGISTER,07,01,02
REGISTER,08,01,02
REGISTER,09,01,00
REGISTER,0a,01,00
REGISTER,0b,01,00
REGISTER,0c,01,00
REGISTER,0d,01,00
REGISTER,0e,01,00
REGISTER,0f,01,00

REGISTER,10,01,00
REGISTER,11,01,00
REGISTER,12,01,00
REGISTER,13,01,00
REGISTER,14,01,00
REGISTER,15,01,00
REGISTER,16,01,00
REGISTER,17,01,00
REGISTER,18,01,00
REGISTER,19,01,00
REGISTER,1a,01,00
REGISTER,1b,01,00
REGISTER,1c,01,00
REGISTER,1d,01,00
REGISTER,1e,01,c0
REGISTER,1f,01,00

REGISTER,20,01,02
REGISTER,21,01,09
REGISTER,22,01,00
REGISTER,23,01,00
REGISTER,24,01,00
REGISTER,25,01,00
REGISTER,26,01,00
REGISTER,27,01,00
REGISTER,28,01,55
REGISTER,29,01,03
REGISTER,2a,01,00
REGISTER,2b,01,00
REGISTER,2c,01,00
REGISTER,2d,01,00
REGISTER,2e,01,00
REGISTER,2f,01,00

REGISTER,30,01,00
REGISTER,31,01,00
REGISTER,32,01,00
REGISTER,33,01,00
REGISTER,34,01,00
REGISTER,35,01,00
REGISTER,36,01,00
REGISTER,37,01,00
REGISTER,38,01,3C
REGISTER,39,01,00
REGISTER,3a,01,00
REGISTER,3b,01,00
REGISTER,3c,01,00
REGISTER,3d,01,00
REGISTER,3e,01,00
REGISTER,3f,01,00
REGISTER,40,01,00
REGISTER,41,01,00
REGISTER,42,01,00
REGISTER,43,01,00
REGISTER,44,01,00
REGISTER,45,01,00

REGISTER,50,01,01
REGISTER,51,01,23
REGISTER,52,01,45
REGISTER,53,01,67
REGISTER,54,01,89
REGISTER,55,01,ab
REGISTER,56,01,01
REGISTER,57,01,23
REGISTER,58,01,45
REGISTER,59,01,67
REGISTER,5a,01,89
REGISTER,5b,01,ab
REGISTER,5c,01,cd
REGISTER,5d,01,ef
REGISTER,5e,01,01
REGISTER,5f,01,0A     //FW_CGOUT_L[1] RESE_ODD

REGISTER,60,01,02     //FW_CGOUT_L[2] VSSG_ODD
REGISTER,61,01,02     //FW_CGOUT_L[3] VSSG_ODD
REGISTER,62,01,08     //FW_CGOUT_L[4] STV2_ODD
REGISTER,63,01,15     //FW_CGOUT_L[5] VDD2_ODD
REGISTER,64,01,14     //FW_CGOUT_L[6] VDD1_ODD
REGISTER,65,01,02     //FW_CGOUT_L[7]
REGISTER,66,01,11     //FW_CGOUT_L[8] CK11
REGISTER,67,01,10     //FW_CGOUT_L[9] CK9
REGISTER,68,01,02     //FW_CGOUT_L[10]
REGISTER,69,01,0F     //FW_CGOUT_L[11] CK7
REGISTER,6a,01,0E     //FW_CGOUT_L[12] CK5
REGISTER,6b,01,02     //FW_CGOUT_L[13]   
REGISTER,6c,01,0D     //FW_CGOUT_L[14] CK3  
REGISTER,6d,01,0C     //FW_CGOUT_L[15] CK1  
REGISTER,6e,01,06     //FW_CGOUT_L[16] STV1_ODD  
REGISTER,6f,01,02     //FW_CGOUT_L[17]   

REGISTER,70,01,02     //FW_CGOUT_L[18]   
REGISTER,71,01,02     //FW_CGOUT_L[19]   
REGISTER,72,01,02     //FW_CGOUT_L[20]   
REGISTER,73,01,02     //FW_CGOUT_L[21]   
REGISTER,74,01,02     //FW_CGOUT_L[22]  
REGISTER,75,01,0A     //BW_CGOUT_L[1]   RESE_ODD 
REGISTER,76,01,02     //BW_CGOUT_L[2]   VSSG_ODD 
REGISTER,77,01,02     //BW_CGOUT_L[3]   VSSG_ODD  
REGISTER,78,01,06     //BW_CGOUT_L[4]   STV2_ODD 
REGISTER,79,01,15     //BW_CGOUT_L[5]   VDD2_ODD 
REGISTER,7a,01,14     //BW_CGOUT_L[6]   VDD1_ODD 
REGISTER,7b,01,02     //BW_CGOUT_L[7]    
REGISTER,7c,01,10     //BW_CGOUT_L[8]   CK11 
REGISTER,7d,01,11     //BW_CGOUT_L[9]   CK9 
REGISTER,7e,01,02     //BW_CGOUT_L[10]   
REGISTER,7f,01,0C     //BW_CGOUT_L[11]  CK7

REGISTER,80,01,0D     //BW_CGOUT_L[12]  CK5 
REGISTER,81,01,02     //BW_CGOUT_L[13]   
REGISTER,82,01,0E     //BW_CGOUT_L[14]  CK3 
REGISTER,83,01,0F     //BW_CGOUT_L[15]  CK1 
REGISTER,84,01,08     //BW_CGOUT_L[16]  STV1_ODD 
REGISTER,85,01,02     //BW_CGOUT_L[17]   
REGISTER,86,01,02     //BW_CGOUT_L[18]   
REGISTER,87,01,02     //BW_CGOUT_L[19]   
REGISTER,88,01,02     //BW_CGOUT_L[20]   
REGISTER,89,01,02     //BW_CGOUT_L[21]   
REGISTER,8A,01,02     //BW_CGOUT_L[22]   

REGISTER,FF,03,98,81,04
//REGISTER,2F,01,01     //BIST
REGISTER,3B,01,C0     // ILI4003D sel 
REGISTER,6C,01,15
REGISTER,6E,01,30     //VGH 16V
REGISTER,6F,01,55     //Pump ratio VGH=VSPX4 VGL=VSNX4 //57
REGISTER,3A,01,24
REGISTER,8D,01,1F
REGISTER,87,01,BA
REGISTER,26,01,76
REGISTER,B2,01,D1
REGISTER,B5,01,07
REGISTER,35,01,1F
REGISTER,88,01,0B
REGISTER,21,01,30

REGISTER,FF,03,98,81,01
REGISTER,22,01,0A
REGISTER,31,01,09
REGISTER,40,01,33
REGISTER,53,01,37
REGISTER,55,01,38
REGISTER,50,01,95
REGISTER,51,01,95  
REGISTER,60,01,09
REGISTER,56,01,00

REGISTER,A0,1,00        //VP255Gamma P
REGISTER,A1,1,0D               //VP251
REGISTER,A2,1,1D               //VP247
REGISTER,A3,1,11              //VP243
REGISTER,A4,1,0C               //VP239
REGISTER,A5,1,23               //VP231
REGISTER,A6,1,17               //VP219
REGISTER,A7,1,1C               //VP203
REGISTER,A8,1,82               //VP175
REGISTER,A9,1,21               //VP144
REGISTER,AA,1,2A               //VP111
REGISTER,AB,1,6B               //VP80
REGISTER,AC,1,19               //VP52
REGISTER,AD,1,14               //VP36
REGISTER,AE,1,45               //VP24
REGISTER,AF,1,1D               //VP16
REGISTER,B0,1,23               //VP12
REGISTER,B1,1,52               //VP8
REGISTER,B2,1,63               //VP4
REGISTER,B3,1,39               //VP0

REGISTER,C0,1,00         //VN255 GAMMA N
REGISTER,C1,1,0D               //VN251
REGISTER,C2,1,1D               //VN247
REGISTER,C3,1,11              //VN243
REGISTER,C4,1,0C               //VN239
REGISTER,C5,1,23               //VN231
REGISTER,C6,1,17               //VN219
REGISTER,C7,1,1C               //VN203
REGISTER,C8,1,82               //VN175
REGISTER,C9,1,21               //VN144
REGISTER,CA,1,2A               //VN111
REGISTER,CB,1,6B               //VN80
REGISTER,CC,1,19               //VN52
REGISTER,CD,1,14               //VN36
REGISTER,CE,1,45               //VN24
REGISTER,CF,1,1D               //VN16
REGISTER,D0,1,23               //VN12
REGISTER,D1,1,52               //VN8
REGISTER,D2,1,63               //VN4
REGISTER,D3,1,39               //VN0

REGISTER,FF,03,98,81,00
REGISTER,35,01,00               //TE OUT
REGISTER,11,01,00        //sleep out
DELAY,150
REGISTER,29,01,00        //display on
DELAY,50
			
		];

		panel-exit-sequence = [
			05 00 01 28
			05 00 01 10
		];

		disp_timings1: display-timings {
			native-mode = <&dsi1_timing0>;
			dsi1_timing0: timing0 {
				clock-frequency = <71000000>;
				hactive = <800>;
				vactive = <1280>;
				hfront-porch = <52>;
				hsync-len = <8>;
				hback-porch = <48>;
				vfront-porch = <15>;
				vsync-len = <6>;
				vback-porch = <16>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				panel_in_dsi1: endpoint {
					remote-endpoint = <&dsi1_out_panel>;
				};
			};
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;
			dsi1_out_panel: endpoint {
				remote-endpoint = <&panel_in_dsi1>;
			};
		};
	};

};

// &dsi1 {
// 	status = "okay";
// 	rockchip,lane-rate = <1000>;
// 	dsi1_panel: panel@0 {
// 		status = "okay";
// 		compatible = "simple-panel-dsi";
// 		reset-gpios = <&gpio3 RK_PC1 GPIO_ACTIVE_LOW>;
// 		pinctrl-names = "default";
// 		pinctrl-0 = <&dsi1_rst_gpio>;
// 		reg = <0>;
// 		backlight = <&backlight>;
// 		reset-delay-ms = <100>;
// 		enable-delay-ms = <120>;
// 		prepare-delay-ms = <20>;
// 		unprepare-delay-ms = <20>;
// 		disable-delay-ms = <100>;
// 		dsi,flags = <(MIPI_DSI_MODE_VIDEO | MIPI_DSI_MODE_VIDEO_BURST |
// 			MIPI_DSI_MODE_LPM | MIPI_DSI_MODE_EOT_PACKET)>;
// 		dsi,format = <MIPI_DSI_FMT_RGB888>;
// 		dsi,lanes  = <4>;
// 		panel-init-sequence = [
// 			15 00 02 B0 01
// 			15 00 02 C3 4F
// 			15 00 02 C4 40
// 			15 00 02 C5 40
// 			15 00 02 C6 40
// 			15 00 02 C7 40
// 			15 00 02 C8 4D
// 			15 00 02 C9 52
// 			15 00 02 CA 51
// 			15 00 02 CD 5D
// 			15 00 02 CE 5B
// 			15 00 02 CF 4B
// 			15 00 02 D0 49
// 			15 00 02 D1 47
// 			15 00 02 D2 45
// 			15 00 02 D3 41
// 			15 00 02 D7 50
// 			15 00 02 D8 40
// 			15 00 02 D9 40
// 			15 00 02 DA 40
// 			15 00 02 DB 40
// 			15 00 02 DC 4E
// 			15 00 02 DD 52
// 			15 00 02 DE 51
// 			15 00 02 E1 5E
// 			15 00 02 E2 5C
// 			15 00 02 E3 4C
// 			15 00 02 E4 4A
// 			15 00 02 E5 48
// 			15 00 02 E6 46
// 			15 00 02 E7 42
// 			15 00 02 B0 03
// 			15 00 02 BE 03
// 			15 00 02 CC 44
// 			15 00 02 C8 07
// 			15 00 02 C9 05
// 			15 00 02 CA 42
// 			15 00 02 CD 3E
// 			15 00 02 CF 60
// 			15 00 02 D2 04
// 			15 00 02 D3 04
// 			15 00 02 D4 01
// 			15 00 02 D5 00
// 			15 00 02 D6 03
// 			15 00 02 D7 04
// 			15 00 02 D9 01
// 			15 00 02 DB 01
// 			15 00 02 E4 F0
// 			15 00 02 E5 0A
// 			15 00 02 B0 00
// 			15 00 02 B1 08
// 			15 00 02 BD 54
// 			15 00 02 C2 06
// 			15 00 02 C4 0B
// 			15 00 02 B0 02
// 			15 00 02 C0 00
// 			15 00 02 C1 0A
// 			15 00 02 C2 20
// 			15 00 02 C3 24
// 			15 00 02 C4 23
// 			15 00 02 C5 29
// 			15 00 02 C6 23
// 			15 00 02 C7 1C
// 			15 00 02 C8 19
// 			15 00 02 C9 17
// 			15 00 02 CA 17
// 			15 00 02 CB 18
// 			15 00 02 CC 1A
// 			15 00 02 CD 1E
// 			15 00 02 CE 20
// 			15 00 02 CF 23
// 			15 00 02 D0 07
// 			15 00 02 D1 00
// 			15 00 02 D2 00
// 			15 00 02 D3 0A
// 			15 00 02 D4 13
// 			15 00 02 D5 1C
// 			15 00 02 D6 1A
// 			15 00 02 D7 13
// 			15 00 02 D8 17
// 			15 00 02 D9 1C
// 			15 00 02 DA 19
// 			15 00 02 DB 17
// 			15 00 02 DC 17
// 			15 00 02 DD 18
// 			15 00 02 DE 1A
// 			15 00 02 DF 1E
// 			15 00 02 E0 20
// 			15 00 02 E1 23
// 			15 00 02 E2 07
// 			05 78 01 11
// 			05 14 01 29
// 		];

// 		panel-exit-sequence = [
// 			05 00 01 28
// 			05 00 01 10
// 		];

// 		disp_timings1: display-timings {
// 			native-mode = <&dsi1_timing0>;
// 			dsi1_timing0: timing0 {
// 				clock-frequency = <156000000>;
// 				hactive = <1200 >;
// 				vactive = <1920>;
// 				hfront-porch = <42>;
// 				hsync-len = <10>;
// 				hback-porch = <32>;
// 				vfront-porch = <35>;
// 				vsync-len = <4>;
// 				vback-porch = <30>;
// 				hsync-active = <0>;
// 				vsync-active = <0>;
// 				de-active = <0>;
// 				pixelclk-active = <0>;
// 			};
// 		};

// 		ports {
// 			#address-cells = <1>;
// 			#size-cells = <0>;

// 			port@0 {
// 				reg = <0>;
// 				panel_in_dsi1: endpoint {
// 					remote-endpoint = <&dsi1_out_panel>;
// 				};
// 			};
// 		};
// 	};

// 	ports {
// 		#address-cells = <1>;
// 		#size-cells = <0>;

// 		port@1 {
// 			reg = <1>;
// 			dsi1_out_panel: endpoint {
// 				remote-endpoint = <&panel_in_dsi1>;
// 			};
// 		};
// 	};

// };